config/.config/1Password/
config/.config/BraveSoftware/
config/.config/chromium/
config/.config/google-chrome-beta/
config/.config/google-chrome-unstable/
config/.config/google-chrome/
config/.config/microsoft-edge-dev/
config/.config/obsidian/
config/.config/user-dirs.dirs/
config/.config/user-dirs.locale/
config/.config/vivaldi-snapshot/
config/.config/vivaldi/
config/.config/nvim/
config/.config/dconf/
config/.config/user-dirs.dirs
config/.config/user-dirs.locale
